# config file for ansible -- https://ansible.com/
# ===============================================
# Keep only the settings we need. Anything left at its default is not written here.

[defaults]
inventory = ./inventories/macOS/local.yml
roles_path = ./roles
retry_files_enabled = False
interpreter_python = auto_silent
